.DS_Store
__pycache__
.vscode/
build/
_build/

tutorials/**/*.pickle
tutorials/**/images/
tutorials/**/*.rst
tutorials/**/*.ipynb
tutorials/**/*.zip
!tutorials/**/README.rst

datasets/door/*.md
datasets/hammer/*.md
datasets/pen/*.md
datasets/pointmaze/*.md
datasets/relocate/*.md
datasets/kitchen/*.md
