sphinx
sphinx-autobuild
sphinx_github_changelog
myst-parser
google-cloud-storage==2.5.0
gymnasium-robotics>=1.2.1
minigrid>=2.2.0
git+https://github.com/sphinx-gallery/sphinx-gallery.git@4006662c8c1984453a247dc6d3df6260e5b00f4b#egg=sphinx_gallery
git+https://github.com/Farama-Foundation/Celshast#egg=furo
