name: Docs Versioning
on:
  push:
    tags:
      - 'v?*.*.*'
permissions:
  contents: write
jobs:
  docs:
    name: Generate Website for new version
    runs-on: ubuntu-latest
    env:
      SPHINX_GITHUB_CHANGELOG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
            python-version: '3.9'

      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1

      - run: sudo apt-get install xvfb

      - name: Install dependencies
        run: pip install -r docs/requirements.txt

      - name: Install Minari
        run: pip install .[all]

      - name: Build Datasets Docs
        run: xvfb-run --auto-servernum python docs/_scripts/gen_dataset_md.py

      - name: Build
        run: sphinx-build -b dirhtml -v docs _build

      - name: Remove .doctrees
        run: rm -r _build/.doctrees

      - name: Upload to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: _build
          target-folder: ${{steps.tag.outputs.tag}}
          clean: false

      - name: Upload to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: _build
          clean-exclude: |
            *.*.*/
            main
