name: test documentation
on:
  pull_request:
  push:
    branches: [main]
permissions:
  contents: read
jobs:
  docs:
    name: test documentation
    runs-on: ubuntu-latest
    env:
      SPHINX_GITHUB_CHANGELOG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
            python-version: '3.9'

      - name: Install Minari
        run: pip install .[all,testing]

      - name: Install docs dependencies
        run: pip install -r docs/requirements.txt

      - name: Build documentation
        run: sphinx-build -b dirhtml -v docs _build

      - name: Run markdown documentation tests
        run: pytest tests/test_docs.py

      - name: Install tutorial dependencies
        run: pip install -r docs/tutorials/requirements.txt

      - name: Run tutorial documentation tests
        run:  pytest --nbmake docs/tutorials/**/*.ipynb --nbmake-timeout=600
